body {
    background-color: #f0f4f8;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

.btn-outline-success {
    border-radius: 20px;
}
